{% extends 'base.html' %}
{% block body %}

<div class="container" style="padding-top:45px; padding-bottom:45px;">
    <div class="card" style="width: 48rem; margin-bottom: 38px">
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
            <a href="{% url 'delete' post.id %}" class="btn btn-danger"
               onclick="return confirm('Are you sure to delete this origianl photo copy post!')">Delete</a>
            <a href="{% url 'update' post.id %}" class="btn btn-warning">Update</a>
        </div>
    </div>
</div>

{% endblock %}